#gameCanvas{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body{
    scroll-behavior: unset;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    position: relative; /* Required for absolute positioning */
    width: 600px;
}

#highScore {
    padding: 10px; /* Optional: Add some padding to create space between text and border */
}

#score {
    padding: 10px; /* Optional: Add some padding to create space between text and border */
}



